@import url('https://fonts.googleapis.com/css2?family=Andika&family=Nunito&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Andika', sans-serif;
}

a
{
    text-decoration: none;
}

.section_heading
{
    text-align: center;

}

.section_heading h2
{
    color: #07294d;
    font-size: 45px;
    line-height: 45px;
    padding: 30px 0;
    text-transform: capitalize;
}

/* Header CSS Started from here*/
.header
{
    background-color: #fff;
    z-index: 9999;
    top: 0;
    position: sticky;
}

.header .navbar img
{
    width: 150px;
    height: 35px;
}



.header .menu-navbar-nav li
{
    margin: 0 8px;
}

.header .menu-navbar-nav li a{
    font-weight: 600;
}

.header .menu-navbar-nav li ul li
{
    margin: 15px 0;
}

.header .menu-navbar-nav li:hover ul li a
{
    background: none;
    font-weight: 600;
}



.header .menu-navbar-nav li:hover ul
{
    border: none;
    /* box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
    -webkit-box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51);
    -moz-box-shadow: -4px 2px 61px -18px rgba(0,0,0,0.51); */
}

.header .menu-navbar-nav li a
{
    font-size: 18px; 
    line-height: 17px;
    color: #07294d;
    transition: all .5s ease;
}

.header .menu-navbar-nav li a:hover
{
    color: #FE630E;
  
}

.header .menu-navbar-nav li a:hover .fa-angle-down
{
    transform: rotate(180deg);
    transition: .6s;
}


.header .menu-navbar-nav li a .fa-plus
{
    display: none;
}

.header .menu-navbar-nav li ul
{
    margin-left: 10px;
    border: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    border: none;
    box-shadow: none;
}

/* Header CSS Ended Here  */



/* Banner CSS started Here  */
#banner{
    background: rgb(151,249,239);
    background: linear-gradient(180deg, rgba(151,249,239,1) 0%, rgba(234,252,250,1) 66%, rgba(238,221,242,1) 94%, rgba(244,182,231,1) 100%);
}

#banner .banner_content {
    margin-top: 100px;
}

#banner .banner_content span{
    color: #FF630E;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: 1.4px;
    font-weight: 600;
}

#banner .banner_content h1{
    color: #130F40;
    font-size: 55px;
    line-height: 75px;
    letter-spacing: 1.2px;
    margin: 30px 0;
    font-weight: 800;
}

#banner .banner_content p{
    color: #4A4D56;
    font-size: 19px;
    line-height: 31px;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}


.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    
}

#banner .banner_content .search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

#banner .banner_content  .search input:focus{
    box-shadow: none;
    border: 2px solid blue;
}

#banner .banner_content .search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;

}

#banner .banner_content .search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #FF630E;
    border: none;

}

#banner .banner_img img{
    width: 100%;
    height: auto;
}

#course_support{
    padding: 50px 0;
}

#course_support .icon_box{
    box-shadow: 12px 11px 45px 16px rgba(0,0,0,0.1);
    padding: 30px 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    /* width: 410px;
    height: 180px; */
    background-color: #fff;
}

#course_support .icon_text h4{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.2px;
    margin-bottom: 7px;
}

#course_support .icon_text p{
    font-size: 16px;
    font-weight: 400;
}

#course_support .icon img{
    width: 50px;
    height: 50px;
}

/* Banner CSS Ended Here  */


/* About Us CSS started Here  */
#about_me{
    padding: 50px 0;
    background-color: #fff;
}

#about_me .about_content span{
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #ff630e;
    text-transform: uppercase;
    font-weight: 600;
}

#about_me .about_content h1{
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 1px;
    color: #130f40;
    margin: 20px 0;
    font-weight: 700;
}

#about_me .about_content p{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #696969;
    margin-bottom: 40px;
}

#about_me .about_content .learn_more_btn{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #fff;
    margin: 20px 0;
    background-color: #ff630e;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#about_me .about_content .learn_more_btn:hover{
    background-color: #130f40;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

#about_me .about_img img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* About Us CSS Ended Here  */




/* Count Down CSS started Here  */
#count_down{
    padding: 50px 0;
}

.counter h4{
    color: #FF630E;
    font-size: 35px;
    line-height: 45px;
    font-weight: 600;
    text-align: center;
}

.counter span{
    color: #07294d;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

/* Count Down CSS Ended Here  */
